<a href="https://colab.research.google.com/github/EmilSeyfullayev/Bank_Loan_Default_prediction/blob/master/in_Python/h2o_auto_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install default-jre
!java -version
!pip install h2o

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/b0/e7/b7057e4a6832f3bec0cb36fda4913bf84a6dc610c92a2d3543442f4154a1/h2o-3.30.1.1.tar.gz (129.3MB)
     |████████████████████████████████| 129.3MB 99kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.7)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.30.1.1-py2.py3-none-any.whl size=129358602 sha256=6416e2bc2eb6473f9d46147082f21eadfd4e01bfb3902321753e5622ecc25fbe
  Stored in directory: /root/.cache/pip/wheels/33/ac/52/165c35d747abdb629c3c9fb7e087f360c662d8cb58824caed8
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.3 h2o-3.30.1.1

In [2]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.8" 2020-07-14; OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1); OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp_0e5pk_i
  JVM stdout: /tmp/tmp_0e5pk_i/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp_0e5pk_i/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.1
H2O_cluster_version_age:    21 days, 4 hours and 45 minutes
H2O_cluster_name:           H2O_from_python_unknownUser_5gtnxd
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [6]:
from h2o.automl import H2OAutoML

In [7]:
df = h2o.import_file('/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling.df_with_dummies.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [8]:
df_train, df_test, df_validation = df.split_frame([.7, .15])

In [9]:
y = 'loan_status'
x = df.columns
x.remove('loan_status')
x.remove('C1')

In [10]:
df_train[y] = df_train[y].asfactor()
df_test[y] = df_test[y].asfactor()
df_validation[y] = df_validation[y].asfactor()

In [ ]:
aml = H2OAutoML(
    nfolds=0,
    balance_classes=True,
    max_runtime_secs=480,
    seed=42,
    stopping_metric="AUC"
)

In [ ]:
aml.train(x,y,training_frame=df_train, validation_frame=df_validation)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [ ]:
aml.leaderboard

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
XGBoost_grid__1_AutoML_20200828_134456_model_1,0.97341,0.0761919,0.995861,0.0788302,0.132506,0.0175577
XGBoost_grid__1_AutoML_20200828_134456_model_2,0.972112,0.0794357,0.995595,0.0823282,0.134778,0.0181652
XGBoost_1_AutoML_20200828_134456,0.964037,0.20105,0.993969,0.0905374,0.195534,0.0382335
XGBoost_2_AutoML_20200828_134456,0.963381,0.199277,0.993656,0.0841219,0.194129,0.037686
GBM_grid__1_AutoML_20200828_134456_model_1,0.961979,0.265636,0.990926,0.0909875,0.285477,0.0814972
GBM_4_AutoML_20200828_134456,0.959745,0.325013,0.992472,0.0956058,0.307719,0.0946912
GBM_5_AutoML_20200828_134456,0.955685,0.324839,0.99149,0.0958429,0.307686,0.0946704
GBM_3_AutoML_20200828_134456,0.950635,0.326605,0.991455,0.109804,0.308235,0.0950086
XGBoost_3_AutoML_20200828_134456,0.949874,0.121728,0.991633,0.108935,0.161904,0.026213
GBM_2_AutoML_20200828_134456,0.941604,0.32739,0.989406,0.109557,0.308479,0.0951591

In [ ]:
aml.leader

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20200828_134456_model_1


Model Summary:

     number_of_trees
0               40.0

ModelMetricsBinomial: xgboost
** Reported on train data. **

MSE: 0.015370867696150096
RMSE: 0.12397930349921352
LogLoss: 0.06386690297972233
Mean Per-Class Error: 0.055513633178206456
AUC: 0.9871577561863064
AUCPR: 0.9980624466316083
Gini: 0.9743155123726128

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6953888963907957:

                0         1   Error                Rate
0      0  29210.0    4623.0  0.1366    (4623.0/33833.0)
1      1    407.0  258647.0  0.0016    (407.0/259054.0)
2  Total  29617.0  263270.0  0.0172   (5030.0/292887.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold          value    idx
0                        max f1   0.695389       0.990370  233.0
1                        max f2   0.491082       0.995853  275.0
2                  max f0point5   0.866833       0.986846  177.0
3                  max accuracy   0.695389       0.982826  233.0
4                 max precision   0.999709       1.000000    0.0
5                    max recall   0.035564       1.000000  375.0
6               max specificity   0.999709       1.000000    0.0
7              max absolute_mcc   0.695389       0.913680  233.0
8    max min_per_class_accuracy   0.939272       0.939572  120.0
9   max mean_per_class_accuracy   0.920056       0.944486  139.0
10                      max tns   0.999709   33833.000000    0.0
11                      max fns   0.999709  248652.000000    0.0
12                      max fps   0.000152   33833.000000  399.0
13                      max tps   0.035564  259054.000000  375.0
14                      max tnr   0.999709       1.000000    0.0
15                      max fnr   0.999709       0.959846    0.0
16                      max fpr   0.000152       1.000000  399.0
17                      max tpr   0.035564       1.000000  375.0

Gains/Lift Table: Avg response rate: 88.45 %, avg score: 88.43 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010018  ...        13.060211            0.011326
1       2                  0.020011  ...        13.060211            0.022625
2       3                  0.030008  ...        13.060211            0.033927
3       4                  0.040033  ...        13.060211            0.045261
4       5                  0.050030  ...        13.060211            0.056563
5       6                  0.100001  ...        13.060211            0.113061
6       7                  0.150034  ...        13.057639            0.169595
7       8                  0.200012  ...        13.058281            0.226101
8       9                  0.300000  ...        13.049918            0.338913
9      10                  0.400001  ...        13.028365            0.451139
10     11                  0.500002  ...        12.985324            0.562062
11     12                  0.600003  ...        12.876209            0.668807
12     13                  0.700000  ...        12.701765            0.769701
13     14                  0.799998  ...        12.365374            0.856359
14     15                  0.899999  ...        11.001436            0.857138
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomial: xgboost
** Reported on validation data. **

MSE: 0.01698263950238537
RMSE: 0.1303174566295144
LogLoss: 0.07420553543158213
Mean Per-Class Error: 0.06835525917611651
AUC: 0.9742086509384656
AUCPR: 0.995906518227226
Gini: 0.9484173018769313

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6392362415790558:

               0        1   Error               Rate
0      0  6846.0   1191.0  0.1482    (1191.0/8037.0)
1      1    97.0  61775.0  0.0016     (97.0/61872.0)
2  Total  6943.0  62966.0  0.0184   (1288.0/69909.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.639236      0.989683  256.0
1                        max f2   0.329556      0.995439  308.0
2                  max f0point5   0.838905      0.985096  206.0
3                  max accuracy   0.643008      0.981576  255.0
4                 max precision   0.999719      1.000000    0.0
5                    max recall   0.013870      1.000000  382.0
6               max specificity   0.999719      1.000000    0.0
7              max absolute_mcc   0.639236      0.906797  256.0
8    max min_per_class_accuracy   0.947572      0.912156  119.0
9   max mean_per_class_accuracy   0.856795      0.931645  198.0
10                      max tns   0.999719   8037.000000    0.0
11                      max fns   0.999719  59550.000000    0.0
12                      max fps   0.000106   8037.000000  399.0
13                      max tps   0.013870  61872.000000  382.0
14                      max tnr   0.999719      1.000000    0.0
15                      max fnr   0.999719      0.962471    0.0
16                      max fpr   0.000106      1.000000  399.0
17                      max tpr   0.013870      1.000000  382.0

Gains/Lift Table: Avg response rate: 88.50 %, avg score: 88.50 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010070  ...        12.989721            0.011378
1       2                  0.020012  ...        12.989721            0.022611
2       3                  0.030053  ...        12.989721            0.033957
3       4                  0.040009  ...        12.989721            0.045206
4       5                  0.050008  ...        12.989721            0.056504
5       6                  0.100001  ...        12.989721            0.112991
6       7                  0.150038  ...        12.989721            0.169527
7       8                  0.200017  ...        12.989721            0.225999
8       9                  0.300004  ...        12.962784            0.338271
9      10                  0.400006  ...        12.864464            0.447607
10     11                  0.500007  ...        12.653548            0.550336
11     12                  0.599994  ...        12.372850            0.645737
12     13                  0.699996  ...        12.070767            0.734970
13     14                  0.799997  ...        11.650257            0.810705
14     15                  0.899999  ...        10.892197            0.852700
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Scoring History:

               timestamp  ... validation_lift  validation_classification_error
0    2020-08-28 13:48:39  ...        1.000000                         0.114964
1    2020-08-28 13:48:49  ...        1.129357                         0.021600
2    2020-08-28 13:48:56  ...        1.129897                         0.020741
3    2020-08-28 13:49:04  ...        1.129897                         0.019697
4    2020-08-28 13:49:12  ...        1.129897                         0.019025
5    2020-08-28 13:49:19  ...        1.129897                         0.018739
6    2020-08-28 13:49:27  ...        1.129897                         0.018567
7    2020-08-28 13:49:34  ...        1.129897                         0.018467
8    2020-08-28 13:49:42  ...        1.129897                         0.018424

[9 rows x 16 columns]

Variable Importances:

                 variable  relative_importance  scaled_importance  percentage
0             funded_amnt         39706.429688           1.000000    0.168862
1         total_rec_prncp         35257.453125           0.887953    0.149941
2         last_pymnt_amnt         28465.099609           0.716889    0.121055
3           out_prncp_inv         26987.607422           0.679679    0.114772
4               out_prncp         25885.820312           0.651930    0.110086
5             installment         10888.976562           0.274237    0.046308
6         total_pymnt_inv         10782.711914           0.271561    0.045856
7             tot_cur_bal          9832.043945           0.247618    0.041813
8         funded_amnt_inv          7983.657715           0.201067    0.033953
9        total_rev_hi_lim          7440.186035           0.187380    0.031641
10              loan_amnt          6974.504883           0.175652    0.029661
11            total_pymnt          4661.231934           0.117392    0.019823
12         term.36 months          4265.022949           0.107414    0.018138
13               int_rate          3233.352051           0.081431    0.013751
14          total_rec_int          2514.005127           0.063315    0.010691
15         inq_last_6mths          1717.337402           0.043251    0.007303
16         term.60 months          1323.735107           0.033338    0.005630
17              revol_bal          1020.706726           0.025706    0.004341
18  initial_list_status.w           664.415283           0.016733    0.002826
19                    dti           599.559631           0.015100    0.002550

See the whole table with table.as_data_frame()

In [ ]:
aml.leader.confusion_matrix()

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6953888963907957:

                0         1   Error                Rate
0      0  29210.0    4623.0  0.1366    (4623.0/33833.0)
1      1    407.0  258647.0  0.0016    (407.0/259054.0)
2  Total  29617.0  263270.0  0.0172   (5030.0/292887.0)

In [ ]:
accuracy = 29

[[0.6430084705352783, 0.9815760488635226]]

In [ ]:
h2o.save_model(aml.leader, path="/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling/h2o_aml")

'/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling/h2o_aml/XGBoost_grid__1_AutoML_20200828_134456_model_1'

In [ ]:
predictions = aml.predict(df_test)

xgboost prediction progress: |████████████████████████████████████████████| 100%

In [12]:
import numpy as np
import pandas as pd

In [ ]:
type(predictions)

h2o.frame.H2OFrame

In [ ]:
pred = pd.DataFrame(predictions.as_data_frame())

In [ ]:
actual = df_test[y].as_data_frame()

In [ ]:
np.mean(actual.iloc[:,0] == pred.iloc[:,0]) #Accuracy score

0.9806437829369036

In [3]:
#Now we load saved model
model = h2o.load_model("/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling/h2o_aml/XGBoost_grid__1_AutoML_20200828_134456_model_1")

In [13]:
aml = model
predictions = aml.predict(df_test)
pred = pd.DataFrame(predictions.as_data_frame())
actual = df_test[y].as_data_frame()

xgboost prediction progress: |████████████████████████████████████████████| 100%

In [14]:
from sklearn.metrics import confusion_matrix, classification_report

In [15]:
confusion_matrix(
    actual.iloc[:,0],
    pred.iloc[:,0]
)

array([[ 6866,  1165],
       [   68, 61787]])

In [16]:
print(classification_report(
    actual.iloc[:,0],
    pred.iloc[:,0]
))

              precision    recall  f1-score   support

           0       0.99      0.85      0.92      8031
           1       0.98      1.00      0.99     61855

    accuracy                           0.98     69886
   macro avg       0.99      0.93      0.95     69886
weighted avg       0.98      0.98      0.98     69886

In [28]:
from sklearn.metrics import plot_roc_curve, auc, roc_auc_score

In [23]:
x_test = pd.DataFrame(df_test.as_data_frame()).drop(['C1', 'loan_status'], axis=1)

In [24]:
x_test.shape

(69886, 135)

In [25]:
pred.shape

(69886, 3)

In [29]:
roc_auc_score(
    actual.iloc[:,0],
    pred.iloc[:,0]
) #AUC score

0.9269188867111329