<a href="https://colab.research.google.com/github/EmilSeyfullayev/Bank_Loan_Default_prediction/blob/master/in_Python/h2o_auto_ml_after_vif_p_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!apt-get install default-jre
!java -version
!pip install h2o

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
Requirement already satisfied: h2o in /usr/local/lib/python3.6/dist-packages (3.30.1.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.7)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.6/dist-packages (from h2o) (0.4.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)

In [27]:
import h2o
h2o.init()
from h2o.automl import H2OAutoML

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.8" 2020-07-14; OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1); OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp6t4ctqsr
  JVM stdout: /tmp/tmp6t4ctqsr/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp6t4ctqsr/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.2
H2O_cluster_version_age:    17 hours and 2 minutes
H2O_cluster_name:           H2O_from_python_unknownUser_6wwgjh
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [28]:
df = h2o.import_file('/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling/df_vif_p_1000.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [29]:
y = 'loan_status'
x = df.columns
x.remove('loan_status')
x.remove('C1')

In [30]:
df_train, df_test, df_validation = df.split_frame([.7, .15])

In [31]:
df_train[y] = df_train[y].asfactor()
df_test[y] = df_test[y].asfactor()
df_validation[y] = df_validation[y].asfactor()

In [32]:
aml = H2OAutoML(
    nfolds=5,
    #balance_classes=True,
    max_runtime_secs=480,
    seed=42,
    stopping_metric="AUC"
)

In [33]:
aml.train(x,y,training_frame=df_train, validation_frame=df_validation, leaderboard_frame=df_validation)

AutoML progress: |
11:53:58.43: User specified a validation frame with cross-validation still enabled. Please note that the models will still be validated using cross-validation only, the validation frame will be used to provide purely informative validation metrics on the trained models.

████████████████████████████████████████████████████████| 100%

In [35]:
aml.leaderboard

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
StackedEnsemble_AllModels_AutoML_20200904_115358,0.851396,0.481526,0.849993,0.234153,0.397427,0.157948
StackedEnsemble_BestOfFamily_AutoML_20200904_115358,0.8495,0.486783,0.843246,0.235497,0.399013,0.159212
GBM_2_AutoML_20200904_115358,0.848286,0.495177,0.84218,0.225017,0.402141,0.161717
GBM_grid__1_AutoML_20200904_115358_model_4,0.845785,0.501844,0.839585,0.236817,0.406252,0.16504
GBM_3_AutoML_20200904_115358,0.844056,0.494633,0.839242,0.263706,0.403365,0.162703
GBM_1_AutoML_20200904_115358,0.843178,0.500058,0.839475,0.233568,0.404408,0.163546
GBM_4_AutoML_20200904_115358,0.842792,0.492278,0.838644,0.246594,0.402907,0.162334
XGBoost_3_AutoML_20200904_115358,0.842484,0.493413,0.836138,0.237473,0.402714,0.162179
XGBoost_grid__1_AutoML_20200904_115358_model_6,0.84173,0.496054,0.830625,0.227017,0.403093,0.162484
GBM_grid__1_AutoML_20200904_115358_model_2,0.840593,0.516353,0.833514,0.25188,0.412096,0.169823

In [36]:
aml.leader

Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_AllModels_AutoML_20200904_115358

No model summary for this model

ModelMetricsBinomialGLM: stackedensemble
** Reported on train data. **

MSE: 0.08674910941758439
RMSE: 0.29453201764423576
LogLoss: 0.30902776407856253
Null degrees of freedom: 6998
Residual degrees of freedom: 6983
Null deviance: 9702.672947580086
Residual deviance: 4325.770641571718
AIC: 4357.770641571718
AUC: 0.968200623557853
AUCPR: 0.9701919596766209
Gini: 0.9364012471157059

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3937508068013243:

               0       1   Error             Rate
0      0  2868.0   633.0  0.1808   (633.0/3501.0)
1      1   194.0  3304.0  0.0555   (194.0/3498.0)
2  Total  3062.0  3937.0  0.1182   (827.0/6999.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.393751     0.888769  237.0
1                        max f2   0.288488     0.937618  279.0
2                  max f0point5   0.707926     0.921784  119.0
3                  max accuracy   0.575788     0.884698  169.0
4                 max precision   0.933377     1.000000    0.0
5                    max recall   0.163924     1.000000  337.0
6               max specificity   0.933377     1.000000    0.0
7              max absolute_mcc   0.575788     0.772603  169.0
8    max min_per_class_accuracy   0.492814     0.880320  199.0
9   max mean_per_class_accuracy   0.575788     0.884678  169.0
10                      max tns   0.933377  3501.000000    0.0
11                      max fns   0.933377  3485.000000    0.0
12                      max fps   0.061585  3501.000000  399.0
13                      max tps   0.163924  3498.000000  337.0
14                      max tnr   0.933377     1.000000    0.0
15                      max fnr   0.933377     0.996284    0.0
16                      max fpr   0.061585     1.000000  399.0
17                      max tpr   0.163924     1.000000  337.0

Gains/Lift Table: Avg response rate: 49.98 %, avg score: 49.79 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010001  ...       100.085763            0.020011
1       2                  0.020003  ...       100.085763            0.040023
2       3                  0.030004  ...       100.085763            0.060034
3       4                  0.040006  ...       100.085763            0.080046
4       5                  0.050007  ...       100.085763            0.100057
5       6                  0.100014  ...       100.085763            0.200114
6       7                  0.150021  ...       100.085763            0.300172
7       8                  0.200029  ...       100.085763            0.400229
8       9                  0.300043  ...        99.990484            0.599772
9      10                  0.400057  ...        93.011302            0.743878
10     11                  0.500071  ...        76.132639            0.761109
11     12                  0.599943  ...        61.774510            0.740906
12     13                  0.699957  ...        42.743365            0.598114
13     14                  0.799971  ...        25.004465            0.399886
14     15                  0.899986  ...        11.112875            0.199943
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomialGLM: stackedensemble
** Reported on validation data. **

MSE: 0.1579483530873979
RMSE: 0.39742716702233366
LogLoss: 0.4815260878064106
Null degrees of freedom: 1514
Residual degrees of freedom: 1499
Null deviance: 2100.2336636453583
Residual deviance: 1459.0240460534242
AIC: 1491.0240460534242
AUC: 0.8513961213236576
AUCPR: 0.8499934436978211
Gini: 0.7027922426473152

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.390569075926545:

              0      1   Error             Rate
0      0  516.0  243.0  0.3202    (243.0/759.0)
1      1  112.0  644.0  0.1481    (112.0/756.0)
2  Total  628.0  887.0  0.2343   (355.0/1515.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.390569    0.783932  245.0
1                        max f2   0.136576    0.865052  356.0
2                  max f0point5   0.635324    0.787377  151.0
3                  max accuracy   0.594773    0.770957  168.0
4                 max precision   0.939906    1.000000    0.0
5                    max recall   0.091948    1.000000  376.0
6               max specificity   0.939906    1.000000    0.0
7              max absolute_mcc   0.594773    0.545419  168.0
8    max min_per_class_accuracy   0.506025    0.763228  200.0
9   max mean_per_class_accuracy   0.594773    0.770842  168.0
10                      max tns   0.939906  759.000000    0.0
11                      max fns   0.939906  755.000000    0.0
12                      max fps   0.060853  759.000000  399.0
13                      max tps   0.091948  756.000000  376.0
14                      max tnr   0.939906    1.000000    0.0
15                      max fnr   0.939906    0.998677    0.0
16                      max fpr   0.060853    1.000000  399.0
17                      max tpr   0.091948    1.000000  376.0

Gains/Lift Table: Avg response rate: 49.90 %, avg score: 49.87 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010561  ...       100.396825            0.021164
1       2                  0.020462  ...       100.396825            0.041005
2       3                  0.030363  ...       100.396825            0.060847
3       4                  0.040264  ...       100.396825            0.080688
4       5                  0.050165  ...       100.396825            0.100529
5       6                  0.100330  ...        91.168024            0.182576
6       7                  0.150495  ...        86.333890            0.259343
7       8                  0.200000  ...        82.539683            0.329506
8       9                  0.300330  ...        73.090005            0.438155
9      10                  0.400000  ...        65.343915            0.521718
10     11                  0.500330  ...        52.809189            0.527396
11     12                  0.600000  ...        43.298060            0.518550
12     13                  0.699670  ...        31.392258            0.438416
13     14                  0.800000  ...        20.370370            0.325282
14     15                  0.899670  ...        10.710792            0.192343
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomialGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 0.16575523286881835
RMSE: 0.40713048629256243
LogLoss: 0.5013458475532993
Null degrees of freedom: 6998
Residual degrees of freedom: 6985
Null deviance: 9704.72922196333
Residual deviance: 7017.839174051083
AIC: 7045.839174051083
AUC: 0.8358379677194249
AUCPR: 0.8294535364293923
Gini: 0.6716759354388497

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.35630441575311417:

               0       1   Error              Rate
0      0  2265.0  1236.0   0.353   (1236.0/3501.0)
1      1   516.0  2982.0  0.1475    (516.0/3498.0)
2  Total  2781.0  4218.0  0.2503   (1752.0/6999.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.356304     0.772939  253.0
1                        max f2   0.138219     0.863370  354.0
2                  max f0point5   0.596301     0.767120  161.0
3                  max accuracy   0.469671     0.762395  211.0
4                 max precision   0.932603     1.000000    0.0
5                    max recall   0.084813     1.000000  384.0
6               max specificity   0.932603     1.000000    0.0
7              max absolute_mcc   0.469671     0.525503  211.0
8    max min_per_class_accuracy   0.513586     0.760435  195.0
9   max mean_per_class_accuracy   0.469671     0.762406  211.0
10                      max tns   0.932603  3501.000000    0.0
11                      max fns   0.932603  3495.000000    0.0
12                      max fps   0.060322  3501.000000  399.0
13                      max tps   0.084813  3498.000000  384.0
14                      max tnr   0.932603     1.000000    0.0
15                      max fnr   0.932603     0.999142    0.0
16                      max fpr   0.060322     1.000000  399.0
17                      max tpr   0.084813     1.000000  384.0

Gains/Lift Table: Avg response rate: 49.98 %, avg score: 49.99 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010001  ...        97.227395            0.019440
1       2                  0.020003  ...        98.656579            0.039451
2       3                  0.030004  ...        96.274606            0.057748
3       4                  0.040006  ...        95.798211            0.076617
4       5                  0.050007  ...        94.369027            0.094342
5       6                  0.100014  ...        86.651433            0.173253
6       7                  0.150021  ...        81.982766            0.245878
7       8                  0.200029  ...        77.790493            0.311073
8       9                  0.300043  ...        67.309810            0.403744
9      10                  0.400057  ...        60.354447            0.482698
10     11                  0.500071  ...        52.122347            0.521075
11     12                  0.599943  ...        41.713518            0.500300
12     13                  0.699957  ...        29.959767            0.419231
13     14                  0.799971  ...        20.430259            0.326732
14     15                  0.899986  ...        10.763464            0.193656
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

In [37]:
h2o.save_model(aml.leader, path="/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling/h2o_aml")

'/content/drive/My Drive/Colab Notebooks/Credit Risk Modeling/h2o_aml/StackedEnsemble_AllModels_AutoML_20200904_115358'

In [40]:
aml.leader.confusion_matrix()
#Optimal treshold for cross validation data is 0.35

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3937508068013243:

               0       1   Error             Rate
0      0  2868.0   633.0  0.1808   (633.0/3501.0)
1      1   194.0  3304.0  0.0555   (194.0/3498.0)
2  Total  3062.0  3937.0  0.1182   (827.0/6999.0)

In [51]:
performance = aml.leader.model_performance(df_test)

In [63]:
performance.auc()

0.8431662560684008